<% include partials/header %>

<div class="container">
    <div class="jumbotron">
        <h1>Welcome to Yelp Camp!</h1>        
    </div>
    
    
<br/>

<div>
    <button type="button" class="btn btn-warning"><a href="/campgrounds">All Campgrounds</a> </button>
</div>

<br/>
</div>


<% include partials/footer %>